/* general styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/dt1.jpg);
  align-items: center;
  background-color: #ffd54f;
  display: flex;
  flex-direction: row-reverse;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

.container, .date {
  color: #333;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  background-color: #fff9f9bd;
  padding: 12px;
  border-radius: 5px;
  height: 350px;
  overflow: hidden;
}

.container {
  margin-right: 10px;
  height: auto;
}

.date {
  background-color: #51a7e0b8;
  font-stretch: expanded;
  /* background-image: url(images/s2.jpg); */
  flex-basis: 40%;
  display: flex;
  flex-flow: column;
}

#date {
  color: #ecc05b;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: nowrap;
}

.doaa {
  color: #ebf9f9;
  font-size: 2rem;
  justify-content: center;
}

p {
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-family: 'Lalezar', cursive;
  font-size: 3.2rem;
  direction: rtl;
  flex: auto;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-family: 'Lalezar', cursive;
  font-size: 3.2rem;
  color: #515692;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 8vw;
}

#loc {
  font-size: 1.3rem;
  color: #545353;
  margin-top: 10px;
}

@media only screen and (max-device-width: 600px) {
  #loc {
    font-size: 1.7rem;
    margin-top: 20px;
  }

  body {
    flex-direction: column;
  }

  .doaa {
    font-size: 4rem;
  }

  .container, .date {
    height: 400px;
    overflow: scroll;
  }

  li span {
    font-size: 8rem;
  }

  .container {
    margin-right: auto;
    width: 66%;
  }
}
